<header class="header">

    <div class="header__container  container">
        <div class="header__text-container">
            <a href="/" class="header__logo">
                <span class="header__text">Hell</span>
                <svg width="22" height="30">
                    <use href="../images">

                    </use>
                </svg>

                <span class="header__text">EN</span> <br>


                <span class="header__text--little  header__text--little-orange">Адский</span> <span
                    class="header__text--little">
                    английский </span>


            </a>
        </div>


        <div class="header-menu">
            <ul class="header-menu__list list">
                <li class="header-menu__item">
                    <a href="#program" class="header-menu__link">Программы обучения</a>
                </li>
                <li class="header-menu__item">
                    <a href="#about" class="header-menu__link header-menu__link--current">О нас</a>
                </li>
                <li class="header-menu__item">
                    <a href="#study" class="header-menu__link">Варианты обучения</a>
                </li>
                <li class="header-menu__item">
                    <a href="#contacts-id" class="header-menu__link">Контакты</a>
                </li>
            </ul>
        </div>


        <div>
            <button class="header__consultation" type="button">Консультация по телефону</button>



            <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                <svg width="35" height="35">
                    <use href="/images/svg/icon-moon.svg#icon-menu">

                    </use>
                </svg>
            </button>
        </div>

</header>