<section class="hero" >
  <div class="hero__picture"></div>
  <h1 class="hero__title">Přidej se v Etneteře mezi kodéry</h1>
<div class="embla">
    <div class="embla__container">
        <div class="embla__slide"><p class="embla__text">Čeká tě tým mladých lidí zapálených nejen do kódování. Nejsme žádný tiše pracující tým.
        Rádi si s tebou i během práce pokecáme, zajdeme na oběd nebo poradíme s problémem.</p></div>
        <div class="embla__slide">Slide 2</div>
        <div class="embla__slide">Slide 3</div>
    </div>
</div>
<button  class="hero__button">Více o nás</button>
</section>